0 10 * * * sh -c 'xh POST http://server:8080/internal/send-email-notifications "Authorization: Bearer $INTERNAL_API_KEY"'

0 0 * * * sh -c 'xh POST http://server:8080/internal/cleanup-expired-tokens "Authorization: Bearer $INTERNAL_API_KEY"'